<!Doctype html>
<html xmlns:th="http:WWW.thymeleaf.org">
	<head>
		<title>
			TODO List
		</title>
	</head>
	<body>
		<h2>
			TODO LIST APP
		</h2>

       <form action="/todo/add" method="post">		
		<input type="text" name="task" requrid placeholder="Enter task">
		<button type="submit">Add</button>
		</form>
		<ul>
			<li th:each ="task,iterStat:${tasks}">
				<span th:text="${task}"></span>
				
				<form action="/todo/delete" method="post">
				<input type="hidden" name="index" th:value="${iterStat.index}">
				<button type="submit">Delete</button>
				</form>
			</li>						
		</ul>
		<form action="/todo/delete_all" method="post">
			<button type="submit">Delete All</button>
		</form>
	</body>
</html>